@font-face {
    font-family: 'CursedTimer';
    src: url(/CursedTimerUlil-Aznm.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 0 20px 0;
    background-color: #065F46;
    text-align: center;
    
}
/* #0055F5 blue complimentary color to orange */
.container {
    display: flex;
    justify-content: space-around;
    
}

.teamName {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 20px auto 10px auto;
    font-size: 42px;
    color: #F3F4F6;
}

.btn-increment {
    background-color: #065F46;
    border: 2px solid #10B981;
    margin: 5px 3px;
    border-radius: 5px;
    font-family: "CursedTimer", sans-serif;
    color: #10B981;
    padding: 8px;
    
   
}

.score {
     background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    font-family: "CursedTimer" ,sans-serif;
    justify-content: center;
    border-radius: 5px;
    border: none;

    }
    
#clear-score {
   background-color: #e63946;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

#clear-score:hover {
    background-color: #c1121f;
}
    
    